<h2 class="display-6 font-monospace" id="homepage-title">Recent posts:</h2>
<div class="container px-3 col-">
  <div class="row">
{{#each posts as |post| }}
<div class="card mb-3 col gx-2 px-2 mx-2" id="post-card"style="max-width: 18rem;">
   <a href="/posts/{{post.id}}">
 <div class="card-header font-monospace text-primary-emphasis" style="font-size: 20px;">Posted by @{{user.username}} on {{format_date createdAt}}</div>
 <div class="card-body">
   <h5 class="card-title font-monospace text-primary-emphasis">{{title}}</h5>
   <p class="card-text font-monospace text-primary-emphasis"><i class="fa-solid fa-hand-pointer"></i>Click Here to See What {{user.username}} Has to Say!</p>
 </div>
 </a>
 </div>
 {{/each}}
 </div>
 </div>
